.Footer-title {
    font-family: Saira Stencil One;
    font-weight: 400;
    font-style: normal;
    font-style: 20px;
    text-align: right;

    margin-top: 140px;
    margin-bottom: 0;
    
    align-self: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    vertical-align: bottom;
    background-color: #696969;
    color: #FFFFFF;

    height: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}